* {box-sizing: border-box;}

body
{
    background-color: #40407A;
    font-family: Verdana, sans-serif;
    margin: 0;
}

header
{
    background-color: #40407A;
    background-image: url('img/sunrise.jpg');
    background-size: 100% 100%;
    margin-top: 50px;
    font-size: 90%;
    min-height: 200px;
}

header a{
    text-decoration: none;

}

header a:link{color: #FFFFFF;}

header a:visited{color: #FFFFFF;}

footer
{
    text-align: center;
    font-size: small;
    font-style: italic;
    float: none;
}

h1 a:hover{
    color: #8F92B2;
    transition: color 10.0s ease-out;
}

nav{
    text-align: right;
    background-color: white;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: auto;
}

nav a{
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding-right: 2em;
    font-size: 1.2em;
}

nav li{
    display: inline;
    padding-left: 2em;
    width: 30%;
}

nav a:link{
    color: #3f2860;
}

nav a:visited{
    color: #497777;
}

nav a:hover{
    color: #A26100;
}

img {
    display: block;
    float: right;
    width: 400px;
}

div img{
   width: 100%;
}

li{
    font-size: 90%;
}

dd{
    font-size: 90%;
}

#wrapper{
    align-content: center;
    background-color: #F5F5F5;
    padding: 2em;
    color: #40407A;
}

.home{
    height: 20vh;
    padding-top: 2em;
    padding-left: 10%;
}

.content{
    height: 20vh;
    padding-top: 2em;
    padding-left: 10%;
 }

#mathero{
    display: none;
    height: 300px;
    background-image: url('img/yogamat.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;


}

h2{
    margin: 0;
}

#loungehero{
    display: none;
    height: 300px;
    background-image: url('img/yogalounge.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

section{
    padding-left: .5em;
    padding-right: .5em;
}

#flow{
    display: block;
}

#contact{
    font-size: 90%;}

@media (min-width: 600px){
    nav ul {display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;}
    nav li{width: 7em;}
    section {padding-left: 2em;
             padding-right: 2em;}
    #mathero{   display: block;
                padding-bottom: 1em;
    }
    #loungehero{display: block;
                padding-bottom: 1em;}
    #flow{flex-direction: row}
    form{
        display: flex;
        flex-flow: column nowrap;
    }
    input, datalist textarea {
        margin-bottom: 0.5em;
    }
    label{  text-align: left;
            display: inline-block;
    }
}



@media (min-width: 1024px){
    header{font-size: 120%}
    nav{font-weight: bold}
    .home{  height: 50vh;
            padding-top: 5em;
            padding-left: 8em;}
    .content{height: 30vh;
            padding-top: 2em;
            padding-left: 8em;
    }
    #wrapper{   margin: auto;
                width: 80%}
    form{
        display: grid;
        grid-gap: 1em;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        flex-flow: column nowrap;
        column-count: 2;
        width: 60%;
        max-width: 40em;
    }
    input[type="submit"]{
        grid-column: 2/3;
        width: 9em;
    }
    label{text-align: left;

    }
}

table{
    border: 1px solid #40407A;
    margin-bottom: 1em;
    min-width: 400px;
    border-collapse: collapse;
}

caption {
    display: table-caption;
    margin: 1em;
    font-weight: bold;
    font-size: 120%;
}

td{
    padding: 0.5em;
    border: 1px solid #40407A;
}

th{
    padding: 0.5em;
    border: 1px solid #40407A;
}

tr:nth-of-type(odd){background-color: #D7E8E9;}




